$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$lighter: hsl(0, 0%, 98%);
$light: hsl(0, 0%, 97%);
$dark: hsl(0, 0%, 45%);
$darker: hsl(0, 0%, 10%);


$border: hsl(207.3, 14.7%, 85.3%);

$aside: hsl(0, 0%, 96%);
$aside-hover: hsl(0, 0%, 95%);



/*-------------------- Bulma color ---------------------*/
$danger: hsl(348, 100%, 61%);
$success: hsl(141, 71%, 48%);
$info: hsl(204, 86%, 53%);
$link: hsl(217, 71%, 53%);
$warning: hsl(48, 100%, 67%);
